* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star[type="radio"] {
	display:none;
}

.star + label {
	display: inline-block;
	width: 100px;
	height: 95px;
	cursor: pointer;
	background-image: url("star.png")
}

.star[type="radio"]:checked + label {
	background-image: url("filled-in-star.png")
}

.submit {
  display: block;
  text-decoration: none;

  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.main-text {
position: absolute;
width: 500px;
height: 45px;
left: 35%;
top: 30%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 70px;
text-align: center;

color: #00ADB5;


}
body {
  background: #EEEEEE;
}
.slogan-text{
  position: absolute;
width: 350px;
height: 26px;
left: 39%;
top: 42%;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 21px;
text-align: center;

color: #00ADB5;


}
.btn-login {
  position: absolute;
width: 100px;
height: 45px;
left: 90%;
top: 5%;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
background-color: white;
border-radius: 10%;
;



}

.btn-signup {
  width: 100px;
height: 45px;
margin-left:83%;
margin-top: 2.5%;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
background-color: white;
border-radius: 10%;

}
