<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content=" valueth=device- valueth">
	<title>SafetyMeter</title>
	<link href="../static/style.css" rel="stylesheet" type="text/css" />	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

  <script src="script.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<!-- Form to input a rating -->
	<div class="container">

		<form action="/addPlaceForm" method="POST">

			<div class="masks">

				<h1>On a scale from one to five stars, how consistently do employees and patrons properly wear masks?</h1>
				    <input class="star" type="radio" name="masks-star" id="masks-one-star" value=1>
            <label class="star" for="masks-one-star"></label>

            <input class="star" type="radio" name="masks-star" id="masks-two-star" value=2>
            <label class="star" for="masks-two-star"></label>

            <input class="star" type="radio" name="masks-star" id="masks-three-star" value=3>
            <label class="star" for="masks-three-star"></label>

            <input class="star" type="radio" name="masks-star" id="masks-four-star" value=4>
            <label class="star" for="masks-four-star"></label>

            <input class="star" type="radio" name="masks-star" id="masks-five-star" value=5>
            <label class="star" for="masks-five-star"></label>
          </div>

          <div class="distancing">

            <h1>On a scale of one to five stars, how consistently do employees and patrons maintain a distance of 6ft or greater from the next group?</h1>
            <input class="star" type="radio" name="distancing-star" id="distancing-one-star" value=1>
            <label class="star" for="distancing-one-star"></label>

            <input class="star" type="radio" name="distancing-star" id="distancing-two-star" value=2>
            <label class="star" for="distancing-two-star"></label>

            <input class="star" type="radio" name="distancing-star" id="distancing-three-star" value=3>
            <label class="star" for="distancing-three-star"></label>

            <input class="star" type="radio" name="distancing-star" id="distancing-four-star" value=4>
            <label class="star" for="distancing-four-star"></label>

            <input class="star" type="radio" name="distancing-star" id="distancing-five-star" value=5>
            <label class="star" for="distancing-five-star"></label>

          </div>

          <div class="outdoor">

            <h1>On a scale of one to five stars, how much opportunity does this location provide for outdoor service?</h1>
            <input class="star" type="radio" name="outdoor-star" id="outdoor-one-star" value=1>
            <label class="star" for="outdoor-one-star"></label>

            <input class="star" type="radio" name="outdoor-star" id="outdoor-two-star" value=2>
            <label class="star" for="outdoor-two-star"></label>

            <input class="star" type="radio" name="outdoor-star" id="outdoor-three-star" value=3>
            <label class="star" for="outdoor-three-star"></label>

            <input class="star" type="radio" name="outdoor-star" id="outdoor-four-star" value=4>
            <label class="star" for="outdoor-four-star"></label>

            <input class="star" type="radio" name="outdoor-star" id="outdoor-five-star" value=5>
            <label class="star" for="outdoor-five-star"></label>

          </div>

          <div class="contactless">

            <h1>On a scale of one to five stars, how much opportunity does this
              location provide for contactless service (e.g. self-checkout)?</h1>
            <input class="star" type="radio" name="contactless-star" id="contactless-one-star" value=1>
            <label class="star" for="contactless-one-star"></label>

            <input class="star" type="radio" name="contactless-star" id="contactless-two-star" value=2>
            <label class="star" for="contactless-two-star"></label>

            <input class="star" type="radio" name="contactless-star" id="contactless-three-star" value=3>
            <label class="star" for="contactless-three-star"></label>

            <input class="star" type="radio" name="contactless-star" id="contactless-four-star" value=4>
            <label class="star" for="contactless-four-star"></label>

            <input class="star" type="radio" name="contactless-star" id="contactless-five-star" value=5>
            <label class="star" for="contactless-five-star"></label>

          </div>

          <div class="capacity">

            <h1>On a scale of one to five stars, how much opportunity does this
              location make an effort to make and enforce capacity limits?</h1>
            <input class="star" type="radio" name="capacity-star" id="capacity-one-star" value=1>
            <label class="star" for="capacity-one-star"></label>

            <input class="star" type="radio" name="capacity-star" id="capacity-two-star" value=2>
            <label class="star" for="capacity-two-star"></label>

            <input class="star" type="radio" name="capacity-star" id="capacity-three-star" value=3>
            <label class="star" for="capacity-three-star"></label>

            <input class="star" type="radio" name="capacity-star" id="capacity-four-star" value=4>
            <label class="star" for="capacity-four-star"></label>

            <input class="star" type="radio" name="capacity-star" id="capacity-five-star" value=5>
            <label class="star" for="capacity-five-star"></label>

          </div>

          <div class="temp">

           <h1>On a scale of one to five stars, how consistently do employees perform temperature checks before admitting patrons?</h1>
            <input class="star" type="radio" name="temp-star" id="temp-one-star" value=1>
            <label class="star" for="temp-one-star"></label>

            <input class="star" type="radio" name="temp-star" id="temp-two-star" value=2>
            <label class="star" for="temp-two-star"></label>

            <input class="star" type="radio" name="temp-star" id="temp-three-star" value=3>
            <label class="star" for="temp-three-star"></label>

            <input class="star" type="radio" name="temp-star" id="temp-four-star" value=4>
            <label class="star" for="temp-four-star"></label>

            <input class="star" type="radio" name="temp-star" id="temp-five-star" value=5>
            <label class="star" for="temp-five-star"></label>

          </div>

          <input class="submit" type="submit" value="Submit">

      </form>
    </div>
  </body>
</html>
