<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" valueth=device- valueth">
    <title>SafetyMeter</title>
    <link href="../static/style3.css" rel="stylesheet" type="text/css" />
  
</head>

<body>

    <script src="script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- Form to input a rating -->
    <div class="container">
      <form action="/login">
      <button class = "btn-login">Login</button>
    </form>
    <form action="/signup">
    <button class="btn-signup">Sign Up</button>
    </form>
       <div class ="main-text">
           Safety Score
       </div>
        <div class="slogan-text">
       stay safe, wherever you go
    </div>
    
</body>

</html>