<!DOCTYPE html>
<html lang='en'>
  <meta charset="UTF-8"
  <head>
      <title>
          Create a New Location!
      </title>
      <link rel="stylesheet" href="../static/newPlace-css.css" type="text/css" />
  </head>
  <body>
      <a href="home.html"><img src="../static/logo-slogan.png"/></a>
      <h1>Enter the name of the location!</h1><br>
      <form action="/newPlaceName"  method="POST">
          <input class="name" type="text" name="placeName">
          <button class="submit" type="submit">Submit</button>
      </form>

  </body>
</html>
