<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" valueth=device- valueth">
    <title>SafetyMeter</title>
    <link href="../static/style2.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <script src="script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <div class="container-one">
        <div class="signup-txt">SIGN UP </div>
        <form class="form-container" action="/signup" method="POST">
            <div class="form-field">
                <label class="email-txt" for="email-signup">Email</label><br><br>
                <input class="input-field" type="text" name="username" id="email-signup" placeholder="Enter email">
            </div>
            <br><br>
            <div class="form-field"><label class="password-txt" for="password-signup">Password</label><br><br>
                <input class="input-field" type="password" name="password" id="password-signup" placeholder="Enter password">
            </div> <br><br>
            <div class="form-field"><label class="password-txt" for="password-signup"> Confirm Password</label><br><br>
                <input class="input-field" type="password" name="" id="password-signup" placeholder="Enter password">
            </div>
            <button class="submit-btn" type="submit">Sign Up </button>
        </form>
    </div>

</body>

</html>