<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" valueth=device- valueth">
    <title>SafetyMeter</title>
    <link href="../static/style2.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <script src="script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <div class="container-one">
    <div class ="login-txt">LOGIN </div>
   <form class="form-container" method="GET">
       <div class="form-field">
       <label class="email-txt" for ="email">Email</label><br><br>
       <input class="input-field" type="text" name="email" id="email" placeholder="Enter email">
    </div>
    <br><br>
    <div class="form-field"><label class="password-txt" for ="password">Password</label><br><br>
    <input class="input-field" type="password" name="password" id="password" placeholder="Enter password">
    </div>
    <button class ="submit-btn" type="submit">Log In </button>
   </form>
    </div>

</body>

</html>